html {
   margin: 0px;
   height: 100%;
   width: 100%;
}


body {
      margin: 0px;
      min-height: 100%;
      width: 100%;
      background-image:url("https://media.alienwarearena.com/media/14n22io.jpg");
      background-size:cover;
      text-align: center;
}
  
h1 {
    
    font-size: 70px;
}
    
#instruction {
    font-size: 30px;
    margin-bottom: 20px;
    
}

#firstdiv {
    margin-bottom: 15px;
}

#countdown {
    font-size: 60px;
    margin-top: 70px;

    
}
